**Practical 30**  

Write a python program to perform XML Parsing.

In [3]:
import pandas as pd

df = pd.read_csv('animals2.csv')
df

        Name Species              Color  Legs
0        Dog  Mammal              Brown     4
1        Cat  Mammal               Gray     4
2   Elephant  Mammal               Gray     4
3       Lion  Mammal             Yellow     4
4      Tiger  Mammal             Orange     4
5    Giraffe  Mammal  Yellow with Spots     4
6      Horse  Mammal              Brown     4
7     Monkey  Mammal              Brown     2
8      Zebra  Mammal    Black and White     4
9   Kangaroo  Mammal              Brown     2
10       Dog  Mammal              Brown     4
11   Giraffe  Mammal  Yellow with Spots     4
12    Monkey  Mammal              Brown     2
13     Tiger  Mammal             Orange     4
14  Elephant  Mammal               Gray     4
15       Cat  Mammal               Gray     4
16     Horse  Mammal              Brown     4
17     Zebra  Mammal    Black and White     4
18  Kangaroo  Mammal              Brown     2
19      Lion  Mammal             Yellow     4

In [5]:
df = df.drop_duplicates()
df

       Name Species              Color  Legs
0       Dog  Mammal              Brown     4
1       Cat  Mammal               Gray     4
2  Elephant  Mammal               Gray     4
3      Lion  Mammal             Yellow     4
4     Tiger  Mammal             Orange     4
5   Giraffe  Mammal  Yellow with Spots     4
6     Horse  Mammal              Brown     4
7    Monkey  Mammal              Brown     2
8     Zebra  Mammal    Black and White     4
9  Kangaroo  Mammal              Brown     2